/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

:root {
    --defualt-primary: #e7e7e7;
    --defualt-secondary: rgba(173, 172, 172, 0.724);
    --default-third: rgb(236, 236, 236);
    /* --defualt-primary: #1337AA;
    --defualt-secondary: #09257d;
    --default-third: #1354aa; */
}

body {
  background-color: var(--default-primary);
}

html {font-family: 'Open Sans', sans-serif;}
/* Typography */
p, a {font-weight: 400;}
.h2 {font-size: 40px;}
.h3 {font-size: 28px;}
.light-300 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

.typo-space-line-center {
  margin-bottom: -30px;
}

.typo-space-line {
  margin-bottom: -20px;
}
/* Main Nav */

/* Home */
#index_banner {
  box-sizing: border-box;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


/* About */
#work_banner {
  background: linear-gradient(180deg, var(--defualt-secondary) 0%, var(--defualt-primary) 100%);
  background-position: center center; background-size: cover;
  height: 100%;
  width: 100%;
}

.objective-icon {
  border-radius: 13px;
  width: 8rem;
}

.team-member-img {
  transition-duration: 0.15s;
  aspect-ratio: 1/1;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}


footer a.text-light:hover {
  color: black !important;
  transition-duration: 0.15s;
}


.btn-check:active + .btn-outline-light, .btn-check:checked + .btn-outline-light, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show, .btn-outline-light:active, .btn-outline-light:hover a {
    color: var(black) !important;
    border-color: var(--defualt-secondary) !important;
}

.btn-secondary:hover {
    background-color: white;
    border-color: var(--default-third);
}
.nav-link {
  color: black !important;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--default-third);
    text-decoration-thickness: 2.5px;
    background-color: transparent !important;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    border-color: transparent !important;
    background-color: transparent !important;
    color: black !important;
    text-decoration: underline;
    text-decoration-color: var(--defualt-secondary);
    text-decoration-thickness: 2.5px;
    box-shadow: none;
}
@media (min-width: 1150px) {
    .text-lg-start {
        margin-left: 25vw;
    }
}

@media (min-width: 992px) {
    .justify-content-between {
        justify-content: right!important;
    }
    .text-lg-start {
      text-align: center !important;
      margin-left: 25vw;
      width: 40vw;
    }
    #container-nav {
        max-width: 1350px !important;
    }
}

@media (min-width: 578px) {
    #container-nav {
        max-width: 971px;
    }
}

@media (min-width: 370px) {
  #main_nav {
      background-color: var(--defualt-primary) !important;
  }
}
@media (max-width: 1535px) {
  .front-page-header {
    margin-right:15px;
  }
}
@media (max-width: 1385px) {
  #canvas-container {
    display: none;
  }
}
@media (max-width: 778px) {

  .front-page-header {
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .front-page-header {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .front-page-header {
    font-size: 3.5rem !important;
    padding: 1rem 0 0rem 1rem !important;
  }
}

#footer-logo {
    height: 100px;
}

#main_nav {
	position: fixed;
	z-index: 99999;
	width: 100%;
	background-color: transparent !important;
	border-bottom: 1px solid rgba(250,250,250,0.30);
}

#main_nav.background-header {
	background-color: var(--defualt-primary) !important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

#navbar-logo {
  width: 128.715px;
  height: 90px;
}

.btn-check:focus+.btn-outline-primary,.btn-outline-primary:focus, .btn-check:active+.btn-outline-primary:focus,.btn-check:checked+.btn-outline-primary:focus,.btn-outline-primary.active:focus,.btn-outline-primary.dropdown-toggle.show:focus,.btn-outline-primary:active:focus {
    box-shadow: none !important;
    box-sizing: none;
}

.partner-logos {
    height: 55px;
}


  .partner-wap {
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--defualt-primary);
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    height: 150px;
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: var(--defualt-primary);
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(0,5);
      transform-origin: 50% 50%;
      transition: transform 1s linear;
    }
  
    &:hover:before {
      transform: scale(100);
    }
  }


  #about_banner {
    background: linear-gradient(180deg, var(--defualt-secondary) 0%, var(--defualt-primary) 100%);
    height: 100%;
    width: 100%;
  }
  #about_banner h1 {
    margin-top: 3vh;
  }

  #about_nav {
	position: fixed;
	z-index: 99999;
	width: 100%;
	background-color: var(--defualt-primary) !important;
	border-bottom: 1px solid rgba(250,250,250,0.30);
}

#contact_nav {
	position: fixed;
	z-index: 99999;
	width: 100%;
	background-color: var(--defualt-primary) !important;
	border-bottom: 1px solid rgba(250,250,250,0.30);
}

#contact_banner {
    background: linear-gradient(180deg, var(--defualt-secondary) 0%, var(--defualt-primary) 100%);
    height: 100%;
    width: 100%;
  }
  #contact_banner h1 {
    margin-top: 3vh;
  }

  .contact-icons {
    width: 25%;
  }

  .contact-inquiry-header {
      width: 25vw;
  }

  .contact-inquiry-header::after,  .contact-inquiry-header::after {
    width: 25vw;
    text-align: center;
  }

  .row {
    margin: 0;
  }

  video {
    width: 100%;
    height: auto;
  }


  .objective {
    padding-top: 4vh;
  }

  #benefit {
    background: linear-gradient(0deg, var(--defualt-secondary) 0%, var(--defualt-primary) 100%);
  }
  
  .partner-row {
       display: flex;
       justify-content: center;
  }

.banner-heading
{
  color: white;
}

.top-banner-wrapper {
  padding-top: 10vh !important;
}

.dark-text {
  color: black;
}

.contact-logo-conatainer {
  background-color: white;
}

a:hover {
  color: black;
}

.carousel-container {
  display: flex;
}

.about-us-button {
  border-color: black !important;
}

.about-us-button a {
  text-decoration: none; 
  color: black;
}

.about-us-button:hover {
  background-color: var(--default-third);
}

.contact-us-button {
  border-color: white !important;
}

.contact-us-button a {
  text-decoration: none;
}

.footer-youtube-logo {
  height: 30px;
  margin-bottom: 22px;
}

.bg-light {
  background-color: var(--defualt-primary) !important;
}

.home-page-container {
  background-color: var(--defualt-primary);
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.front-page-header {
  margin-left: 0;
  padding: 2rem 0 0rem 2rem;
  font-size: 5rem;
  background-clip: text; /* Standard property */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    35deg,
    #FFA500,
    #800080
  )
}

#solutions_banner {
  background: linear-gradient(180deg, var(--defualt-secondary) 0%, var(--defualt-primary) 100%);
  height: 100%;
  width: 100%;
}
#solutions_banner h1 {
  margin-top: 3vh;
}

#solutions_nav {
position: fixed;
z-index: 99999;
width: 100%;
background-color: var(--defualt-primary) !important;
border-bottom: 1px solid rgba(250,250,250,0.30);
}